<div class="dashobard-container">
    <h2>I am the DASHBOARD VIEW</h2>

    <h2>Username is {{data}}</h2>
    <h2>Age is {{dataNum}}</h2>
    <h2>Usernames are {{arr}}</h2>

    <ul>
    {{#each arr}}
        <li>{{this}}</li>
    {{/each}}
    </ul>


</div>