<div class="login-container">
    <h2>I am the Login VIEW</h2>

   <!-- <form action="/login">  -->
    <form id="login-form">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Submit</button>
    </form>
</div>
<script src="public/js/login"></script>